.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*20230612 임진경 추가*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Reset margins and paddings */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

/* Reset list styles */
ol, ul {
  list-style: none;
}

/* Reset typography */
body{
  font-family: 'Do Hyeon', sans-serif;
}
/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

.HeaderWrap{
  background-color: lightblue;
}

.header {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style-type: none;
  display: flex;
}

.header nav ul li {
  margin-left: 10px;
}

.header nav ul li:first-child {
  margin-left: 0;
}

.header nav ul li a {
  text-decoration: none;
  color: black;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header {
    padding: 5px;
  }

  .header nav ul li {
    margin-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 3px;
  }

  .header h1 {
    font-size: 18px;
  }

  .header nav ul li {
    margin-right: 3px;
  }
}

.page-wrap{
  width: 1000px;
  margin: 0 auto;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.gallery-item {
  padding: 5%;
  background: #f0f;
}

